body{
font-family:Arial;
text-align:center;
background:#111;
color:white;
}

#packs{
display:grid;
grid-template-columns:repeat(3,150px);
gap:20px;
justify-content:center;
margin-top:20px;
}

.pack{
width:150px;
height:200px;
background:#444;
display:flex;
align-items:center;
justify-content:center;
cursor:pointer;
border-radius:10px;
}

.pack:hover{
background:#777;
}

#cardViewer{
margin-top:40px;
font-size:30px;
}
